.header {
    color: $white-color;
    background: url(../images/Symbol.svg) no-repeat 50%/auto 100%;

    &__main {
        min-height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }

    &__head {
        position: relative;
    }


    &__social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background: rgba(245, 245, 250, 0.2);
        margin: 0 -30px 15px;

        @media (min-width: $breakpoint-md) {
            margin: 0 0 18px;
            padding: 10px 0;
            background: transparent;
            align-self: flex-start;
            justify-content: left;
            margin-top: 50px;
        }
        @media (min-width: $breakpoint-lg) {
            justify-content: right;
        }
    }

    &__lang {
        display: flex;
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
    }


    &__lang-item {
        padding: 5px 7px;
        border-radius: 8px;
        cursor: pointer;
        &.active {
            background: $accent-color;
        }
        &:hover {
            background: $accent-color;
        }
    }

    &__social-adress {
        display: none;
        position: relative;
        @media (min-width: $breakpoint-md) {
            display: inline;
            color: $grey-text-color;
            padding: 0 18px 0 18px;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 6px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $grey-separator-color;
            }
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 6px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $grey-separator-color;
            }
        }
    }

    &__social-phone {
        color: $white-color;
        text-decoration: none;
        font-weight: 700;
        @media (min-width:$breakpoint-md) {
            position: relative;
            margin-right: 18px;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -12px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: $grey-separator-color;
            }
        }
    }

    &__social-facebook {
        display: none;
        @media (min-width:$breakpoint-md) {
            display: inline-block;
            width: 24px;
            height: 24px;
            fill: $white-color;
            &:hover {
                fill: $accent-color;
            }   
        }
    }

    &__logo {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;

        span {
            font-size: 26px;
            line-height: 24px;
            color: $accent-color;
            @media (min-width: $breakpoint-md) {
                display: none;
            }
        }

        span + span {
            font-size: 20px;
            color: $white-color;
            @media (min-width: $breakpoint-md) {
                display: none;
            }
        }

        @media (min-width: $breakpoint-lg) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }
    }

    &__logo-link {
        width: 69px;
        height: 32px;
        @media (min-width: $breakpoint-md) {
            width: 130px;
            height: 60px;
        }
    }

    &__logo-logo {
        width: 100%;
        height: 100%;
    }

    &__burger {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        border: 0;
        outline: none;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        cursor: pointer;

        &:active {
            background: $grey-separator-color;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 14px;
            border-bottom: 2px solid $white-color;
            border-top: 2px solid $white-color;

            @media (min-width: $breakpoint-md) {
                display: none;
            }
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                height: 2px;
                width: 100%;
                left: 0;
                transform: translateY(-50%);
                background: $white-color;

                @media (min-width: $breakpoint-md) {
                    display: none;
                }
            }
        }
    }

    &__nav {
        position: fixed;
        z-index: 20;
        bottom: 0;
        right: 8px;
        left: 8px;
        background: $white-color;
        padding: 56.5px 12px 12px 12px;
        border-radius: 12px 12px 0 0;
        //ВАЖНЫЙ МОМЕНТ
        transform: translateY(100%);
        &.active {
            transform: translateY(0);
        }
        @media (min-width: $breakpoint-md) {
            position: static;
            border-radius: unset;
            background: transparent;
            //margin-top: 30px;
            padding: 0;
            transform: none;
        }

        @media (min-width: $breakpoint-lg) {
            display: flex;
            align-self: flex-end;
            justify-content: right;
        }
    }

    &__nav-close {
        position: absolute;
        top: 19px;
        right: 19px;
        cursor: pointer;
        width: 18px;
        height: 18px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            background: $accent-color;
            transform: rotate(40deg);
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            background: $accent-color;
            transform: rotate(140deg);
        }
        @media (min-width: $breakpoint-md) {
            display: none;
        }
    }

    &__nav-list {
        @media (min-width: $breakpoint-md) {
            display: flex;
            gap: 15px;
        }
    }

    &__nav-item {
        text-align: center;
        &:hover {
            text-decoration: underline;
        }
    }

    &__nav-link {
        display: block;
        margin: 7.5px auto;
        padding: 7px 0;
        width: 100%;
        height: 43px;
        border-radius: 12px;
        color: $active-regular-color;
        background: $grey-bg-color;
        font-family: 'MontserratBold';
        text-decoration: none;
        &:active{
            color: $accent-color;
        }
        &:hover{
            background: $grey-separator-color;
        }
        @media (min-width: $breakpoint-md) {
            background: transparent;
            margin: 0;
            padding: 0;
            display: inline;
            color: $white-color;
            &:hover{
                background: transparent;
            }
        }
    }

    &__inner-title {
        text-align: center;
    }

    &__goto {
        margin: 0 auto 30px;
        width: 42px;
        height: 42px;
        border: 2px solid $white-color;
        border-radius: 50%;
        position: relative;
        top: 0;
        left: 0;
        &::before{
            content: '';
            position: absolute;
            top: 10px;
            left: 12px;
            width: 12px;
            height: 12px;
            border-left: 2px solid $white-color;
            border-bottom: 2px solid $white-color;
            transform: rotate(-45deg);
        }
    }
}