.header{
    .services-main {
        min-height: auto;
    }
    
    .active-services {
        color: $accent-color;
        text-decoration: underline;
    }
}

.services-bg {
    background: none;
}

