@import 'fonts';
@import 'reset';
@import 'vars';
@import 'global';
@import 'header';
@import 'experience';
@import 'team';
@import 'services';
@import 'partners';
@import 'publications';
@import 'footer';
@import 'header-services';
@import 'services-services';
@import 'footer-services';

//для градиентного текста: 
//background: $main-gradient;
//background-clip: text;
//color: transparent;